<ion-card>
  <img [src]="itemPelicula.poster" height="200px" width="100%" />
  <ion-card-header>
    <ion-card-title> {{ itemPelicula.title }}</ion-card-title>
    <ion-card-subtitle>
      Fecha estreno: {{ itemPelicula.year }}</ion-card-subtitle
    >
  </ion-card-header>

  <ion-content>
    <ion-label>Género:</ion-label>
  </ion-content>

  <ion-card-content>
    <ng-container *ngFor="let item of itemPelicula.genre">
      <ion-badge class="ion-margin-end" color="secondary">
        {{ item }}</ion-badge
      >
    </ng-container>
  </ion-card-content>

  <ion-card-content>
    Duración:

    {{ itemPelicula.duration }}
  </ion-card-content>

  <ion-card-content>
    Rating:

    {{ itemPelicula.imdbRating }}
  </ion-card-content>
  <!-- Footer -->
  <ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="deleteElement(itemPelicula)">
          Eliminar
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="success" (click)="editElement(itemPelicula)"
          >Editar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>
