<ion-card>
  <img
    src="https://media.istockphoto.com/photos/people-in-the-theater-auditorium-during-the-performance-soft-focus-picture-id1087108958?s=612x612"
  />
  <ion-card-header>
    <ion-card-title> {{ itemPelicula.titulo }}</ion-card-title>
    <ion-card-subtitle>
      Dirección: {{ itemPelicula.direccion }}</ion-card-subtitle
    >
    <ion-card-subtitle
      >Producido por: {{ itemPelicula.productora }}</ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content>
    Fecha estreno: {{ itemPelicula.fechaEstreno }}
  </ion-card-content>
  <ion-card-content>
    Género:

    {{ itemPelicula.genero }}
  </ion-card-content>
  <ion-card-content>
    Recaudación:

    {{ itemPelicula.recaudacion }}
  </ion-card-content>
  <!-- Pills  -->
  <ion-card-content>
    <ng-container *ngFor="let reparto of itemPelicula['castPrincipal']">
      <ion-badge class="ion-margin-end" color="primary">
        {{ reparto.apellidoNombre }}</ion-badge
      >
    </ng-container>
  </ion-card-content>
  <!-- Footer -->
  <ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="deleteElement(itemPelicula)">
          Eliminar
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="success" (click)="editElement(itemPelicula)"
          >Edit
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>
